{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'doctor-list.css' %}">
</head>
<body>
    <header>
  <form action="{% url 'logout' %}" method="post" style="display:inline;">
  {% csrf_token %}
  <button type="submit" class="logout-btn">ログアウト</button>
</form>
</header>
<nav>
  <ul>
    <li><a href="{% url 'patient_list'%}">患者一覧</a></li>
    <li id="current-nav"><a href="">医師一覧</a></li>
    <li><a href="{% url 'examination_list' %}">検査技師一覧</a></li>
  </ul>
</nav>
<h2>医師一覧（管理者用）</h2>
<div id="main">
  <table>
    <thead>
        <tr>
            <th>氏名</th>
            <th>専門</th>
            <th>メールアドレス</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.user.username }}</td>
            <td>{{ doctor.specialty  }}</td>
            <td>{{ doctor.user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<a href="{% url 'create_doctor' %}" id="patient-create-link">追加</a>
</body>
</html>